@import './variables.scss';

* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root,
.app {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	background-color: $background_paper;
  font-family: $fontprimary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}