{% extends 'main/base.html' %}

{% block title %}Про проект LDb{% endblock %}

{% block content %}

<table>
    <td width="2%"></td>
    <td width="96%">
  <h1>
    Що таке Literature Database?
  </h1>
  <h5 style="font-weight: lighter;">
      <p>
          Привіт. Мене звати Влад. Literature Database - це проект, котрий задумувався як соціальна мержа для книголюбів.
          Хоча, початкова концепція - це спроба зробити зручні списки та категорії в яких можна зберігати та сортувати книги.
          Ви зараз користуєтесь першою публічною версією цього вебзастосунку.
      <p/>
      <p>
          Моя мета - це зробити якісний продукт, яким буде перш за все зручно користуватись. Тому я не обійдусь без допомого кожного з вас.
          Я маю на увазі поради та ідеї для покращення. Буду радий будь-якому фітбеку. Його ви можете залишти в формі за посиланням.
      </p>
      <p>
          Моя мрія - це те, що цей застосунок стане затишним куточком, місцем в якому люди ,будуть отримувати приємні емоції.
      </p>
  </h5>

        <h1>
            Що вже реалізовано?
        </h1>
        <p>
            На данний момент реалізовані такі можливості:
            <ul>
            <li>
                Створення "Книжкових полиць". Це абстракція, маються на увазі категорії для сортування,
                щось на кшталт папок, куди ви можете додати, перенести або звідки видалити книги.
            </li>
            <li>
                Сайт має базу данних 20 000 книг. Я вже працюю над оптимізацією та розширенням цієї бази
                (Видалення дублікатів деяких книг, додавання нових, та створення системи фільтрів). Буду вдячний за
                повідомлення через форму звернення, якщо ви не знайшли книгу яку шукали, чи пошук видав декілька схожих резільтатів.
            </li>
            <li>
                Додавання коментарів (рецензій) до книг.
            </li>
            <li>
                Рейтинг книг. Дуже прошу активно оцінювати книги, які ви вже прочитали, щоб якомога скоріше
                з'явилась можливість фільтрувати книги за рейтингом.
            </li>
        </ul>
        </p>

        <h1>
    Що знаходиться в процесі реалізації?
  </h1>

    </td>
        <td width="2%"></td>
    </table>

{% endblock %}
