{% extends 'main/base.html' %}

{% block title %}Про проект LDb{% endblock %}

{% block content %}

<table>
    <td width="2%"></td>
    <td width="96%">
  <h2>
    Що таке Literature Database?
  </h2>
  <h5 style="font-weight: lighter;">
      <p>
          Literature Database - це проєкт,
          котрий задумувався як соціальна мережа для книголюбів.
          Хоча, початкова концепція - це спроба зробити зручні списки та категорії
          в яких можна зберігати та сортувати книги.
          Ви зараз користуєтесь першою публічною версією цього вебзастосунку.
      <p/>
      <p>
          Мене звати Влад. Я розробник цього проєкту, і створюю його власними силами.
          Паралельно вивчаючи програмування застосовую свої знання саме тут.
          Моя мета - це зробити якісний продукт, яким буде перш за все зручно користуватись.
          Тому я не обійдусь без допомоги кожного з вас.
          Я маю на увазі поради та ідеї для покращення. Буду радий будь-якому фітбеку.
          Його ви можете залишити в формі за посиланням.
      </p>
  </h5>

    <h2>
        Що вже реалізовано?
    </h2>
    <h5 style="font-weight: lighter;">
    <p>
        На данний момент реалізовані такі можливості:
        <ul>
            <li>
                Створення "Книжкових полиць". Це абстракція, маються на увазі категорії для сортування,
                щось на кшталт тек, куди ви можете додати, перенести або звідки видалити книги.
            </li>
            <li>
                Система реєстрації / аутентифікації
            </li>
            <li>
                Сайт має базу даних 20 000 книг. Я вже працюю над оптимізацією та розширенням цієї бази
                (Видалення дублікатів деяких книг, додавання нових, та створення системи фільтрів). Буду вдячний за
                повідомлення через форму звернення, якщо ви не знайшли книгу яку шукали, чи пошук видав декілька схожих
                результатів.
            </li>
            <li>
                Форма пошук книг в базі даних.
            </li>
            <li>
                Додавання коментарів (рецензій) до книг.
            </li>
            <li>
                Рейтинг книг. Дуже прошу активно оцінювати книги, які ви вже прочитали, щоб якомога скоріше
                з'явилась можливість фільтрувати книги за рейтингом.
            </li>
            <li>
                Статті з підбірками книг від поважних видавництв, з яких ви можете додавати книги на свої полиці.
            </li>
        </ul>
    </h5 >
        </p>

    <h2>
        Що знаходиться в процесі реалізації?
    </h2>
    <h5 style="font-weight: lighter;">
        <ul>
            <li>
                Відповідати на рецензії та оцінювати їх.
            </li>
            <li>
                Останні та популярні рецензії на головній сторінці.
            </li>
            <li>
                Можливість робити свої полиці публічними.
            </li>
            <li>
                Сторінка профілю користувача.
            </li>
            <li>
                Пошук серед користувачів.
            </li>
            <li>
                Можливість додаватись в друзі та переглядати полиці своїх друзів.
            </li>
        </ul>
        </h5>

</td>
    <td width="2%"></td>
</table>

{% endblock %}
