{% extends 'main/base.html' %}

{% block title %}Книжкові полиці{% endblock %}

{% block content %}
<h2><p>Книжкові полиці:</p></h2>
    <ul>
        {% for bookshelf in bookshelves %}
        <li>
            <h2>
                <a href="{% url 'main:bookshelf' bookshelf.id %}">{{ bookshelf }}</a>
            </h2>
            <h5>
                <a href="{% url 'main:delete_bookshelf' bookshelf.id %}">Видалити полицю</a>
            </h5>
        </li>
        {% empty %}
          <li>Ви ще не створили жодної книжкової полиці</li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'main:new_bookshelf' %}">Створити нову полицю</a></h2>
{% endblock %}