{% extends 'main/base.html' %}

{% block title %}{% endblock %}

{% block content %}
<center>
    <h1 style="position: relative;">«{{ book.title }}»</h1>
    <h4>{{ book.author }}</h4>

</center>
<table>
    <tr >
        <td width="2%"></td>
        <td width="55%">
            <table>
                <tr >
                    <td>
                        <img src="{{ book.url_image }}" style="width: 220px;">
                    </td>
                    <td width="2%"></td>
                    <td>
                        <h5 style="font-weight: lighter;">{{ book.description }}</h5>
                        <br/><br/>
                    </td>
                </tr>
            </table>
        </td>
        <td width="2%"></td>
        <td width="40%" >
            <center>
                <br/>
                <h4>Додати на полицю:</h4>
                    <form action="{% url 'main:book' book.id %}" method="POST">
                        {% csrf_token %}
                        {{ bookshelf_form.as_p }}
                            <br/>
                        <button type="submit" class="btn btn-warning">Підтвердити</button>
                    </form>
                <br/>
            <hr>
                <h5>Рейтинг: {{ book.average_rating }} / 10</h5>
                    {% include 'main/rating.html' %}
                <br/>
                </center>
        </td>
        <td width="2%"></td>
        </tr>
</table>
<center>
    <hr>
        {% for review in book.reviews.all %}
            <div class="card border-dark mb-3" style="max-width: 50rem;">
                <div class="card-header">Автор: {{ review.user }}</div>
                <div class="card-body">
                <p class="card-text">{{ review.text_review }}</p>
                </div>
                <div class="card-footer">
                <small class="text-muted">Опубліковано: {{ review.date_added }}</small>
                </div>
            </div>
        {% endfor %}

    <div class="container-sm">
        <form action="{% url 'main:book' book.id %}" method="POST" style="max-width: 50%;">
            {% csrf_token %}
            {{ review_form.as_p }}
            <button type="submit" class="btn btn-warning">Опублікувати рецензію</button>
        </form>
        <br/>
    </div>
</center>

<script>
    const rate = (rating, book_id) => {
        fetch(`/rate/${book_id}/${rating}/`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(rest => {
            window.location.reload();
        })
    }
</script>

{% endblock %}
