{% extends 'main/base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}

  <style>
    .carousel-item {
      height:32rem;
      background:#777;
      color:white;
      position:relative;
      background-position:center;
      background-size:cover;
      }
    .container {
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      padding-bottom:50px;
      text-align:left;
  </style>


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-image:url(static/main/img/slide-2.jpg);">

      <div class="container">
        <h1>Приклад заголовку</h1>
        <p>Коли обираєте слова і складаєте їх докупи, звертайте увагу на те,
          як вони звучать. Це здається абсурдним, адже люди читають очима.
          Однак насправді вони чують прочитане краще, ніж ви уявляєте.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src='main/img/icons8-repository-100.png' class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}